@charset "utf-8";
body,html{
    width:100%;
    height:100%;
	background-color: #f3f3f3;
}
#contentWrapper{
	position: relative;
	height: 100%;
	padding: 0 0 0 248px;
}
#menu{
	position: absolute;
	height: 100%;
	width: 248px;
	left: 0;
	background-image: url('../img/squared_metal_sidebar.png');
	background-repeat: repeat-y;
}
#panel{
	padding: 10px 10px 10px 10px;
	position:absolute;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
	height: 100%;
	overflow-y: scroll;
}
.menupunkt{
	transition-duration: 0.3s;
	margin: 8px 8px 12px 8px;
	padding: 8px 16px 8px 16px;
	border-radius: 4px;
	width:200;
	background-color: #EDDA8F;
	box-shadow: -2px 2px 2px #bbb;
}
.menupunkt span{
	width:100%;
	text-align: center;
	color: #8D6D45;
	font-weight: bold;
	text-shadow: 0px 1px 0 #eee;
}
.menupunkt:hover{
	margin: 8px 3px 12px 13px;
	background-color: #f5efd8;
}
.menupunkt.aktiv{
	margin: 8px 0px 8px 16px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #f3f3f3;
	box-shadow: -6px 0px 6px -2px #888;
}
.menupunkt.aktiv span{
	color: #302D2A;
}
.menupunkt a{
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
.menuIcon {
	margin-right: 8px;
}
#panel h1{
	text-align: center;
}
#abmelden {
	color: #AAA294;
	position: absolute;
	right:4px;
	top:0px;
}
#abmelden span{
	font-size: 0.7em;
}
#abmeldenLink {
	color: #AAA294;
	float: right;
}
#abmeldenLink:hover {
	color: #ccc7be;
}
/* gruppen.php START */
#uiWrapper{
	min-width: 490px;
	position: relative;
	width:100%;
	height:auto;
}
.label{
	margin-bottom: 20px;
	color: #204a87;
	font-weight:bold;
	border-bottom: solid #204a87 1px;
}
.liste{
	float:left;
	border: solid #888888 1px;
	position: relative;
	width: 20%;
	height: auto;
	padding:10px;
}
.nofloat{
	float:none;
}
.listenelement{
	padding:5px;
	border: solid #cdcdcd 1px;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.hinzufuegen{
	display: inline-block;
	position:relative;
	width:16px;
	height:16px;
	background-image: url('../img/add.png');
	cursor: pointer;
}
.loeschen{
	display: inline-block;
	position:relative;
	width:16px;
	height:16px;
	background-image: url('../img/bin_closed.png');
	cursor: pointer;
}
.akzeptieren{
	display: inline-block;
	position:relative;
	width:16px;
	height:16px;
	background-image: url('../img/accept.png');
	cursor: pointer;
}
.rightfloat{
	float:right;
}
.liste .listenlabel{
	position: relative;
	margin-right: 20px;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}
#editor{
	float: right;
	border: solid #888888 1px;
	position: relative;
	width: 70%;
	height: auto;
	padding:10px;
	display:none;
}
#mitgliederliste,#dateischluesselListe,#auswahlliste,#hinzufuegenAuswahl{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
	width: 100%;
}
#hinzufuegenAuswahl{
	display:none;
}
.bottommargin{
	margin-bottom: 20px;
}
#mitgliederliste > .listenelement{
	cursor: default;
}
#auswahlliste > .listenelement{
	cursor: pointer;
}
#gruppenliste,#verwaltungsliste > .listenelement{
	cursor: pointer;
}
.gruppeEditiert{
	background-color: #949494;
}
/* gruppen.php ENDE */