@import url('schriftarten.css');

body {
    font-family: 'source_sans_pro', Sans-Serif;
	padding: 0;
	margin: 0;
	background-color: #eeeeec;
	top: 0;
}

a {
	color: #204a87;
	font-weight: bold;
	text-decoration: none;
}

#captcha {
	border: 1px solid #d3d7cf;
}

#header {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 10px;
	background-image: url(../img/stripesBrown.png);
	background-repeat: repeat;
}

#banner {
    font-size: 3.5em;
    padding-left: 2em;
    margin-bottom: 1px;
	margin-top: 0px; /* Buxfix für falsches anzeigen einer webpage -.- */
	font-family: 'Dosis', Sans-Serif;
	font-weight: 800;
}

#bannerLeft {
	color: #92AF24;
}

#bannerRight {
	color: #AAA294;
}

.infobox {
    font-family: monospace;
    color: #d3d7cf;
    font-weight: bold;
    padding: 2px;
    border-radius: 6px;
	margin-bottom: 4px;
}

.fehler {
    background-color: #ef2929;
    border: 1px solid #cc0000;
}

.warnung {
    background-color: #F90;
    border: 1px solid #F60;
	color: #555753;
}

.okay {
	background-color: #8ae234;
	border: 1px solid #4e9a06;
	color: #555753;
}

.verticalMid {
	vertical-align: middle;
}

.rightAlign {
	text-align: right;
}

form {
    padding: 10px;
    background-color: #eeeeec;
    border: 1px solid #d3d7cf;
    border-radius: 10px;
	box-shadow: 2px 2px 8px #888;
}

input[type="text"], input[type="password"], input[type="email"] {
	font-family: 'source_sans_pro', Sans-Serif;
    height: 20px;
    border-radius: 4px;
    border: 1px solid gray;
    box-shadow: 1px 1px 2px #babdb6;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	font-family: 'source_sans_pro', Sans-Serif;
    font-size: 1em;
    color: #2e3436;
    padding: 5px;
    background-color: #d3d7cf;
    border: 1px solid #babdb6;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #73d216;
    border-color: #4e9a06;
}
.bottom_fix_right{
	position: absolute;
    bottom: 10px;
	right: 10px;
}
.bottom_fix_left{
	position: absolute;
    bottom: 10px;
	left: 10px;
}
