body {
    font-family: Sans-Serif;
}

.infobox {
    font-family: monospace;
    color: #d3d7cf;
    font-weight: bold;
    padding: 2px;
    border-radius: 6px;
	margin-bottom: 4px;
}

.fehler {
    background-color: #ef2929;
    border: 1px solid #cc0000;
}

.warnung {
    background-color: #F90;
    border: 1px solid #F60;
	color: #555753;
}

.okay {
	background-color: #8ae234;
	border: 1px solid #4e9a06;
	color: #555753;
}

.verticalMid {
	vertical-align: middle;
}